header#header
    .wrap-options
        .gwr
            ul#user-options
                li.login.icon-user: a(href="#", title="Sign in", data-modal="modal_login", rel="nofollow").show-modal Sign in
                li.register: a(href="#", title="Register", data-modal="modal_login", rel="nofollow").show-modal Register
            ul.social-networks
                li.icon-facebook: a(href="#", title="Facebook", target="_blank", rel="nofollow") Facebook
                li.icon-twitter: a(href="#", title="Twitter", target="_blank", rel="nofollow") Twitter
                li.icon-google-plus: a(href="#", title="Google+", target="_blank", rel="nofollow") Google+
                li.icon-instagram: a(href="#", title="Instagram", target="_blank", rel="nofollow") Instagram
                li.icon-linkedin: a(href="#", title="Linked In", target="_blank", rel="nofollow") Linked In
            ul#available-languages
                li.english.active
                    span EN
                    button(data-iso="us", title="English") English
                li.russian
                    span RU
                    button(data-iso="ru", title="Russian") Pусский
                li.spanish
                    span ES
                    button(data-iso="es", title="#") Spanish
                li.portuguese
                    span BR
                    button(data-iso="br", title="#") Português
                li.french
                    span FR
                    button(data-iso="fr", title="#") Français
                li.italy
                    span IT
                    button(data-iso="it", title="#") Italy
                li.german
                    span DE
                    button(data-iso="de", title="#") Deutsch
                li.chinese
                    span ZH
                    button(data-iso="zh", title="#") 中文
            a(href="tel:305.705.5000", title="Call Us")#call-us Call Us: 305.705.5000
    .wrap-menu
        .gwr
            a(href="#", title="Master Elite").title
                img.logo(src="images/logo.png", title="logo", alt="Tremgroup")
            nav
                ul
                    li.current-menu-item: a(href="#", title="Search") Search
                    li.menu-item-has-children
                        a(href="http://www.google.com", title="Neighborhoods") Neighborhoods
                        ul
                            li: a(href="#", title="All Neighborhoods") All Neighborhoods
                            li: a(href="#", title="Allison Island") Allison Island
                            li: a(href="#", title="Aventura") Aventura
                            li: a(href="#", title="Bal Harbour") Bal Harbour
                            li: a(href="#", title="Bay Harbor Islands") Bay Harbor Islands
                            li: a(href="#", title="Bay Point") Bay Point
                    li.menu-item-has-children
                        a(href="http://www.google.com", title="Buildings") Buildings
                        ul
                            li: a(href="#", title="All Buildings") All Buildings
                            li: a(href="#", title="Aventura") Aventura
                            li: a(href="#", title="Bal Harbour") Bal Harbour
                            li: a(href="#", title="Brickell/ Brickell Key") Brickell/ Brickell Key
                            li: a(href="#", title="Coconut Grove") Coconut Grove
                    li: a(href="#", title="New Construction") New Construction
                    li: a(href="#", title="My Listings") My Listings
                    li: a(href="#", title="About") About
                    li: a(href="#", title="News") News
                    li: a(href="#", title="Testimonials") Testimonials
                    li: a(href="#", title="Contact") Contact
            button#hamburger
                span Menu responsive
