doctype html
html(lang='en')
	head
		title Home | Master Elite 2017
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") // analizar lo de 'user-scalable=no'
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#0073AC")
		meta(name="theme-color", content="#0073AC")
		meta(name="msapplication-navbutton-color", content="#0073AC")
		link(rel="shortcut icon", type="image/x-icon", href="images/icons/favicon.ico")
		link(rel="stylesheet", href="https://file.myfontastic.com/v6vr22zQVKSnTWTxBBpbWC/icons.css")
		link(rel="stylesheet", href="css/main.css")

	body.loading.home
		include header.jade
		main#main
			#slideHome.fade
				ul
					//- for(var m = 0; m < 3; m++)
					li
						.w-featured
							.gwr

								button(data-video="https://www.youtube.com/watch?v=9RBSH7Xvn3Q").open-video: span
								.details
									h2 Contemporary Luxury Oasis
									span 212 W. Dilido Drive
									ul
										li 3 beds
										li 2 Baths
										li 4200 SF
								a(href="#", title="#").view-home View Home
						img(original-src="images/home/bg-home01.jpg", alt="#", title="#").bg-slider
					li
						.w-featured
							.gwr

								button(data-video="https://www.youtube.com/watch?v=9RBSH7Xvn3Q").open-video: span
								.details
									h2 Contemporary Luxury Oasis
									span 212 W. Dilido Drive
									ul
										li 3 beds
										li 2 Baths
										li 4200 SF
								a(href="#", title="#").view-home View Home
						img(original-src="images/home/bg-home02.jpg", alt="#", title="#").bg-slider
					li
						.w-featured
							.gwr

								button(data-video="https://www.youtube.com/watch?v=9RBSH7Xvn3Q").open-video: span
								.details
									h2 Contemporary Luxury Oasis
									span 212 W. Dilido Drive
									ul
										li 3 beds
										li 2 Baths
										li 4200 SF
								a(href="#", title="#").view-home View Home
						img(original-src="images/home/bg-home03.jpg", alt="#", title="#").bg-slider
				.nav
					.bullets
					.next-prev
						button.prev: span.icon-arrow
						button.next: span.icon-arrow
			button.next-section: span.icon-arrow

		include footer.jade
		button#toup: span.icon-arrow

	script(type="text/javascript", src="js/jquery-3.1.1.min.js")
	script(type="text/javascript", src="js/plugins/perfect-scrollbar.jquery.min.js")
	script(type="text/javascript", src="js/plugins/jquery-ui.min.js")
	script(type="text/javascript", src="js/plugins/jquery.ui.touch-punch.min.js")
	script(type="text/javascript", src="js/dgt-master.min.js")